/* The name at the top of the page */
#name {
    color: #45801D;
    text-align: center;
    background-color: rgba(183, 255, 135, 0.541);
    padding: 10px;
    font-size: 42px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* The background of the page */
body {
    background-color: ivory;
    line-height: 1.5;
    margin-top: 0px;
}

/* Top/Nav Bar */
h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #45801D;
}
a:link, a:visited {
    background-color: #45801D;
    color: #89FF3B;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    background-color: #5C8044;
}

/* Lists */
.lists {
    background-color: #B7FF87;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
}
ul, ol {
    background-color: rgba(183, 255, 135, 0.5);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Introduction */
.intro {
    background-color: #B7FF87;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3.intro {
    text-decoration: underline;
}
p.intro {
    text-indent: 0.5in;
    background-color: rgba(183, 255, 135, 0.5);
}

/* Images */
img.right {
    float: right;
    overflow: auto;
}
/* Button */
button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #B7FF87;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    border: none;
}
button:hover{
    background-color: #5C8044;
}

/* Tables for HTML1 */
table {
    border: 1px solid black;
    text-align: left;
}

/* Image Gallery */
div.gal img {
    width: 100%;
    height: auto;
}

.rotate {
    transform: rotate(270deg);
    float: left;
    display: block;
    margin-left: 2in;
}

.center {
    float: left;
    margin-left: 2in;
}