/* The name at the top of the page */
#name {
    color: #45801D;
    text-align: center;
    background-color: rgba(183, 255, 135, 0.541);
    padding: 10px;
    font-size: 42px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* The background of the page */
body {
    background-color: ivory;
    line-height: 1.5;
    margin-top: 0px;
}

/* Top/Nav Bar (Thank you w3schools.com) */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#45801D;    
}
  
li {
    float: left;
}
  
li a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    color: #89FF3B;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #5C8044;
}

/* Lists */
.lists {
    background-color: #B7FF87;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    overflow: hidden;
}
ul.lists {
    list-style-type: circle;
    background-color: rgba(183, 255, 135, 0.5);
    padding: 10px;
    text-align: center;
    /*margin: 10px;*/
}
ol.lists {
    list-style-type: decimal;
    background-color: rgba(183, 255, 135, 0.5);
    padding: 10px;
    height: 100px;
}

/* Introduction */
.intro {
    background-color: #B7FF87;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3.intro {
    text-decoration: underline;
}
p.intro {
    text-indent: 0.5in;
    background-color: rgba(183, 255, 135, 0.5);
}

/* Images */
img {
    float: right;
}
